<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" href="/jQuery-Menu-Editor/bs-iconpicker/css/bootstrap-iconpicker.min.css">
<script src='/jQuery-Menu-Editor/jquery-menu-editor.js'></script>
<script src='/jQuery-Menu-Editor/bs-iconpicker/js/iconset/iconset-fontawesome-4.2.0.min.js'></script>
<script src='/jQuery-Menu-Editor/bs-iconpicker/js/bootstrap-iconpicker.js'></script>



	</head>
	
	<body>
		<ul>
			<li><a href="/admin">Home</a></li>
			<li><a href="/admin/menu">Menu's</a></li>
		</ul>
		{{{body}}}
	</body>
</html>