<!DOCTYPE html>
<html>
	<head>
		<style>
			{{{ css }}}
		</style>

		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

		<script>
			var app = angular.module("myApp", []);

			app.controller("myCtrl", function($scope) {
			    $scope.products = ["Milk", "Bread", "Cheese"];
			});

			{{#each components}}
			app.directive('{{ . }}', [ '$compile', '$http', function($compile, $http) {
				return {
					restrict: 'E',
					link: function(scope, iElement, iAttrs){
						if (iAttrs.src) {
							$http({method: 'GET', url:iAttrs.src}).then(function (result) {
								scope.data = result.data;
							}, function (result) {
								cosnole.log("Error: No data returned");
							});
						}
					},
					replace: false,
					transclude: true,
				};
			}]);
			{{/each}}

		</script>

	</head>

	<body ng-app="myApp" ng-controller="myCtrl">
		{{{ html }}}		
	</body>
</html>